<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li><i class="fa fa-home"></i>
            <a href="#/dashboard">Home</a>
           <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
  
</div>
<h3 class="page-title"> Dashboard </h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardUserController" class="margin-top">
   <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number"> {{mytotalleads}} </div>
                    <div class="desc"> Total Leads </div>
                </div>
                <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number"> {{mycompletedleads}} </div>
                    <div class="desc"> Completed Leads </div>
                </div>
                <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number"> {{mypendingleads}} </div>
                    <div class="desc"> Pending Leads </div>
                </div>
                <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple" ng-repeat="t in user_target">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">{{t.target}}</div>
                    <div class="desc"> Completed Target:{{t.count}}</div>
					<div class="desc"> Date:{{t.startdate}} to {{t.enddate}}</div>
                </div>
                <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green hide"></i>
                        <span class="caption-subject font-green bold uppercase">Leads</span>
                       <!--  <span class="caption-helper">16 pending</span> -->
                    </div>
                   
                </div>
				<input type="text"  class="form-control form-control-solid" ng-model="search" placeholder="search...">
                <div class="portlet-body">
				 
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                <li ng-repeat="leads in myleads |filter : search" ng-click="getleadinfo(leads.leadid)" >
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test" />
                                        <input type="checkbox" class="liChild" value="{{leads.leadid}}" name="test" /> </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> {{leads.clientName}} </span>
                                        <span class="label label-sm label-success"></span>
                                       <!--  <span class="task-bell">
                                            <i class="fa fa-bell-o"></i>
                                        </span> -->
                                    </div>
                                   
                                </li>
                            
                            </ul>
                            <!-- END START TASK LIST -->
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="#/My_Leads">See All Leads</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe fa fa-bell-o"></i>
                        <span class="caption-subject font-green bold uppercase">Upcoming Reminders</span>
                    </div>
                 </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="scroller" style="height: 306px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
								
                                    <li ng-repeat="reminder in upcomming">
									
									   <div ng-if="reminder.rem_days==0 && reminder.rem_hours==0 && reminder.rem_minutes==0"></div>
											 
									   <div ng-if="reminder.rem_days!=0 || reminder.rem_hours!=0 || reminder.rem_minutes!=0 ">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bell-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"><a href="#/view_leads/{{ reminder.leadid}}" >{{reminder.reminderTitle}}
												  
                                                        <span class="label label-sm label-info"> {{reminder.action}}
                                                        </span>
														</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										

                                        <div class="col2">
										  <div ng-if="reminder.rem_days!=0 && reminder.rem_hours!=0 && reminder.rem_minutes!=0">{{reminder.rem_days}}days,{{reminder.rem_hours}}hours,{{reminder.rem_minutes}}min</div>
										  <div ng-if="reminder.rem_days==0 && reminder.rem_hours!=0 && reminder.rem_minutes!=0">{{reminder.rem_hours}}hours,{{reminder.rem_minutes}}min</div>
										  <div ng-if="reminder.rem_days==0 && reminder.rem_hours==0 && reminder.rem_minutes!=0">{{reminder.rem_minutes}}min</div>

										   <div ng-if="reminder.rem_days!=0 && reminder.rem_hours!=0 && reminder.rem_minutes==0">{{reminder.rem_days}}days,{{reminder.rem_hours}}hours</div>
										  <div ng-if="reminder.rem_days==0 && reminder.rem_hours==0 && reminder.rem_minutes==0">{{reminder.rem_days}}days</div>
										  <div ng-if="reminder.rem_days==0 && reminder.rem_hours!=0 && reminder.rem_minutes==0">{{reminder.rem_hours}}hours</div>
	                                      <div ng-if="reminder.rem_days!=0 && reminder.rem_hours==0 && reminder.rem_minutes!=0">{{reminder.rem_days}}days,{{reminder.rem_minutes}}min</div>
                                        </div>
										</div>
                                    </li>
                                    
                                </ul>
							    <div class="btn-arrow-link pull-right" style="margin-top:10px;">
                           			<a href="#/View_Reminder">See All Reminders</a>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <!--END TABS-->
                       
                </div>
            </div>
		
            <!-- END PORTLET-->
        </div>
		

    </div>
    
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->