 <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="#/dashboard.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">All User</a>
                                
                            </li>
                            
                        </ul>
                    
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">All Users</span>
                                    </div>
                                   
                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <a href="#/Add_User" id="sample_editable_1_new" class="btn green"> Add New
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                        <thead ng-init="names=['Jani','Hege','Kai']">
                                            <tr>
                                                <th> First Name </th>
                                                <th> Last Name </th>
                                                <th> Email </th>
                                                <th> Contact No. </th>
                                                 <th> City </th>
                                                <th> Country No. </th>
                                               
                                                <th> Delete </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="u in user">
                                                <td> {{u.firstName}} </td>
                                                <td> {{u.lastName}} </td>
                                                <td> {{u.useremail}} </td>
                                                  <td> {{u.userphone}} </td>
                                                    <td> {{u.usercity}} </td>
                                                <td class="center"> {{u.usercountry}} </td>
                                                
                                                <td>
                                                    <a ng-click="deleteUser(u.userid)" class="delete" href="javascript:;"> Delete </a>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
               